# Dependencies
node_modules/

# Build output
dist/
.output/
.vinxi/

# Vite cache
.vite/

# TanStack tmp
.tanstack/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.log
